@import "tailwindcss";

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "monospace", sans-serif;
    background: #1a1a2e;
    color: #f3f4f6;
}

@layer utilities {
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    .animate-blink {
        animation: blink 0.8s step-end infinite;
    }

    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }
    .animate-loading-bar {
        animation: loading 0.8s infinite ;
    }
}